<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewFoundry | Forging Big Ideas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6524938/6541232/css/fonts.css" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Flask Server"
    />
    <!-- This is what flask uses to components between html pages -->
    {% block head %}{% endblock %}
</head>

  <body>
    {% block body %}{% endblock %}
    <img src="{{ url_for('static', filename='apple.png') }}" alt="logo" class="logo">
</html>