{% extends "base.html" %} {% block title %}
<h1>Template Rendering</h1>
> {% endblock %} {% block body %}
<div>
  <nav>
    <div>
      <a href="https://thenewfoundry.com"><h2>NewFoundry</h2></a>
    </div>
    <div class="nav-list-items">
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/about">ABOUT US</a>
        </li>
        <li>
          <a href="/work">OUR WORK</a>
        </li>
        <li>
          <a href="/platforms">PLATFORMS</a>
        </li>
        <li>
          <a href="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
  {% endblock %}

