body {
  font-family: "Landmark Regular A", "Landmark Regular B";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
  margin: 0;
  top: 0;
  left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
}
